<div #jobSearchForm class="job-search">
    <div class="job-search-form">
        <mat-form-field appearance="fill" color="text-link">
            <mat-label>Job Type</mat-label>
            <mat-select [(value)]="jobType" (selectionChange)="doSearch()">
                <mat-option *ngFor="let jobType of jobTypeOptions" [value]="jobType">
                    {{ jobType }}
                </mat-option>
            </mat-select>
            <button
                mat-button
                *ngIf="jobType"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="jobType = undefined; doSearch()"
            >
                <mat-icon class="clear-search-input">close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill" color="text-link">
            <mat-label>Status</mat-label>
            <!--
            <mat-select [(value)]="status" (selectionChange)="doSearch()">
                <mat-option *ngFor="let status of statusOptions" [value]="status">
                    {{ status }}
                </mat-option>
            </mat-select>
            -->
            <mat-select [(value)]="status" (selectionChange)="doSearch()">
                <mat-option>All</mat-option>
                <mat-option *ngFor="let status of taskStatusOptions$ | async" [value]="status">
                    {{ status }}
                </mat-option>
            </mat-select>
            <button
                mat-button
                *ngIf="status"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="status = undefined; doSearch()"
            >
                <mat-icon class="clear-search-input">close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width" color="text-link">
            <mat-label>Request ID</mat-label>
            <input
                matInput
                placeholder="Request ID"
                type="text"
                [(ngModel)]="requestId"
                (ngModelChange)="doSearch()"
            />
            <button
                *ngIf="requestId"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="requestId = undefined; doSearch()"
            >
                <mat-icon class="clear-search-input">close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>
