#-------------------------------------------------
# IDE Exclusions
#-------------------------------------------------
.c9
.idea
.project
.python-version
.settings
.vs
.vscode
nbproject
*.swp
*.vim

#-------------------------------------------------
# Module Specific Exclusions
#-------------------------------------------------
app.yaml
local-*

#-------------------------------------------------
# Other Nonsense
#-------------------------------------------------
