#-------------------------------------------------
# Language Exclusions
#-------------------------------------------------
__pycache__
.pytest_cache
*.env
*.pyc
.coverage
.tox

#-------------------------------------------------
# IDE Exclusions
#-------------------------------------------------
.c9
.idea
.project
.python-version
.settings
.vs
.vscode
nbproject
*.swp
*.vim

__pycache__

#-------------------------------------------------
# Module Specific Exclusions
#-------------------------------------------------
*.history
app.yaml
local-*

#-------------------------------------------------
# Other Nonsense
#-------------------------------------------------
