:host {
    a {
        color: var(--accent-color);
        display: block;
        font-weight: bold;
        line-height: 2.3em;
        text-decoration: none;
    }

    mat-drawer {
        height: 100%;
        width: 25%;

        .drawer-container {
            border: 3px solid var(--border-01);
            display: flex;
            flex-direction: column;

            .drawer-details {
                margin-left: 20px;
            }

            .drawer-title {
                align-items: center;
                background-color: var(--base-02);
                border-bottom: 2px solid var(--border-01);
                color: var(--text-primary-color);
                display: flex;
                font-size: 1.5rem;
                height: 56px;
                justify-content: space-around;
                position: sticky;
                top: 0px;
                width: 100%;
            }
        }
    }

    .drawer-container {
        min-height: 100%;
    }

    mat-label {
        text-transform: capitalize;
    }

    table {
        width: 100%;
    }

    th.mat-sort-header-sorted {
        color: black;
    }

    tr {
        cursor: pointer;
    }

    td.mat-cell {
        padding-left: 5px;
        padding-right: 5px;
    }

    .mat-column-job-type {
        width: 5%;
    }

    .mat-column-request-id {
        width: 17%;
    }

    .mat-column-status {
        width: 15%;
    }

    .mat-column-group-count {
        width: 10%;
    }

    .mat-column-indicator-count {
        width: 10%;
    }

    .mat-column-last-modified-filter-end {
        width: 10%;
    }

    .mat-column-last-modified-filter-start {
        width: 10%;
    }

    .align-icon {
        padding-top: 4px;
    }

    .ti-group-counts {
        display: flex;
        // display: grid;
        // grid-template-columns: 60px 60px;
        // padding-bottom: 10px;
    }

    .ti-indicator-counts {
        display: flex;
        // display: grid;
        // grid-template-columns: 85px 85px;
        // padding-bottom: 10px;
    }

    .selected-row {
        background-color: var(--border-focus-opaque);
        border: 2px solid var(--border-focus);
        font-weight: bold;
    }

    .table-container {
        // margin-top: 10px;
        max-height: calc(100vh - 350px);
        min-height: calc(100vh - 450px);
        overflow: auto;
    }

    .top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .status-container {
        display: flex;
        align-items: center;

        mat-icon {
            margin-right: 5px;
            color: var(--text-primary-color);
        }
    }
}
